<div class="container">
  <h1>US Time Zone Display</h1>
  <div id="btn-cont">
    <button (click)="changeTimeZone('pst')" [ngClass]="{'buttonTZ': 'true', 'selectedBtn': tzSelect.pst}">PST</button>
    <button (click)="changeTimeZone('mst')" [ngClass]="{'buttonTZ': 'true', 'selectedBtn': tzSelect.mst}">MST</button>
    <button (click)="changeTimeZone('cst')" [ngClass]="{'buttonTZ': 'true', 'selectedBtn': tzSelect.cst}">CST</button>
    <button (click)="changeTimeZone('est')" [ngClass]="{'buttonTZ': 'true', 'selectedBtn': tzSelect.est}">EST</button>
    <button (click)="changeTimeZone('')" [ngClass]="{'buttonTZ': 'true'}">Clear</button>
  </div>
  <div id="timeDisplay">
    <h1 *ngIf="currZone!=''">{{ theDate | date:'medium':currZone }}</h1>
  </div>
</div>
